/*------------------ style commun à toutes les pages ------------------------------*/

body 
{
    font-family: 'Bitter', serif;
    background-color: whitesmoke;
    color: #8C8268;
    padding-top: 70px;
}


footer
{
    background-color: black;
    text-align: center;
    line-height: 70px;
    margin-top: 30px;        
}


h2
{
    font-size: 1.2em; 
}

h3
{
    font-size: 1.1em;
}

img{
    width: 100%;
}
.navbar {

    font-size:1em;    

}

.navbar-inverse .navbar-brand {
    color: orange;
    font-weight: bold;
} 

/* Centre Caen*/
 .navbar-brand {
     width : 78%;  
     text-align: center;
     font-size:1.2em;        
} 

/* Réduction du padding de 15 à 10 entre les Choix du Menu de Navigation */
/* Cela évite 3 lignes quand on réduit la fenêtre */
.nav>li>a
{
    padding-left: 8px;
    padding-right: 8px;
    font-size:1em;
}

/* Réduit la Largeur de la zone de recherche*/
.input-sm.form-control
{
    width : 87px ;
}


.largeurParagraphe
{
    text-align: justify;
}

.titre  {    
    font-size: 1.4em;
     color:darkorange;
}

.titreColor
{
    color:darkorange;
}

/*---------------------- media queries----------------------------------- */

@media all and (min-width: 768px) {
    

/* Ville de  Caen */
 .navbar-brand {
     width : inherit;  
     text-align: inherit;
     font-size:1em;     
} 

.nav>li>a
{
    padding-left: 8px;
    padding-right: 8px;
    font-size:1em;
}    


/* adaptation qui permet d'éviter une barre de navigation sur 2 lignes */
.navbar-form.navbar-right.inline-form {
    padding-right: 0px;
    padding-left: 1px;
}       

.titre  {
    font-size: 1.6em;
}
    
}

/*----------------------------------------------------------------------- */


@media all and (min-width: 1200px) {



/* Ville de  Caen */
 .navbar-brand {
     width : inherit;  
     text-align: inherit;
     font-size:1.4em;      
} 
    
.nav>li>a
{
    padding-left: 10px;
    padding-right: 10px;
    font-size:1.2em;
}     
    
/* Réduit la Largeur de la zone de recherche*/
.input-sm.form-control
{
    width : 120px ;
}    

.titre  {
    font-size: 1.8em;
}
    
}

