
h1
{
    font-size: 3.5em;
}

.prg
{
    margin-top: 30px;
    margin-bottom: 15px;  

    display:block;

}

.largeurParapgraphe
{
    text-align: justify;
}
/*---------------------- media queries----------------------------------- */

@media all and (min-width: 768px) {
    

.prg
{

    display:flex;
    align-items:center;

}    
    
}

/*----------------------------------------------------------------------- */


@media all and (min-width: 1200px) {

.prg
{

    display:flex;
    align-items:center;

}   

