/*------------------ style commun à toutes les pages ------------------------------*/

body 
{
    font-family: 'Bitter', serif;
    background-color: whitesmoke;
    color: #8C8268;
    padding-top: 70px;
}


footer
{
    background-color: black;
    text-align: center;
    line-height: 70px;
    margin-top: 30px;        
}

.titre  {    
    font-size: 20px;
     color:darkorange;
}

.titreColor
{
    color:darkorange;
}

h2
{
    font-size: 1.4em; 
}

h3
{
    font-size: 1.3em;
}

img{
    width: 100%;
}
.navbar {
    min-height : 60px ;
    font-size:1.2em;
}


.navbar-inverse .navbar-brand {
    background-color:  orange;
    font-size:1.5em;    
    min-height : 60px ;
    color: white;
} 

/*---------------------- media queries----------------------------------- */

@media all and (min-width: 768px) {
    
.titre  {
    font-size: 28px;
}
    
}

/*----------------------------------------------------------------------- */


@media all and (min-width: 1200px) {

.titre  {
    font-size: 36px;
}
    
}

